<!DOCTYPE html>
<html>
<head>

    <partial name="_DefaultHeader" />

    @RenderSection("Header", required: false)

</head>
<body>

    <partial name="_NavBar" />

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <partial name="_Footer" />
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
